{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb_link %}
    <li class="breadcrumb-item active" aria-current="page">Customer</li>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for datum in data %}
                        <tr>
                            <td> {{ datum.cname }} </td>
                            <td> {{ datum.address }} </td>
                            <td>
                                <a href="{% url 'customer:update' datum.id %}" class=" btn btn-primary">Update</a>
                                <a href="{% url 'customer:delete' datum.id %}" class=" btn btn-primary">Delete</a>
                            </td>

                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}