{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <a href="{% url 'txn:index' %}" class=" btn btn-primary"><i class="fa fa-plus"></i> Add</a>
        </div><br>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Customer Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Transaction Date</th>
                        <th>paid</th>
                    </tr>
                    </thead>
                    {% for datum in data %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ datum.cname }} </td>
                            <td> {{ datum.quantity }} </td>
                            <td> {{ datum.total }} </td>
                            <td> {{ datum.created_at }} </td>
                            <td>
                                <input type="checkbox" class="paid-checkbox"{% if datum.is_paid %} checked disabled
                                       %} {% endif %}
                                       id="{{ datum.id }}">
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No Data</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        $('body').on('change', '.paid-checkbox', function () {
            var id = $(this).attr('id');
            if ($(this).prop('checked') == true) {
                window.location.href = '/transactions/paid/' + id + '/';
            }
        });
    </script>
{% endblock %}