{% extends 'base.html' %}
{% load staticfiles %}

<body>
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="unit">{{ form.unit.label }}</label>
                    {{ form.unit }}
                </div>
                <div class="form-group">
                    <label for="price">{{ form.price.label }}</label>
                    {{ form.price }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
</body>
</html>