{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb_link %}
    <li class="breadcrumb-item active" aria-current="page">Item</li>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for datum in data %}
                        <tr>
                            <td> {{ datum.name }} </td>
                            <td> {{ datum.unit }} </td>
                            <td> {{ datum.price }} </td>
                            <td>
                                {% if not datum.is_deleted %}
                                    <a href="{% url 'item:edit' datum.id %}" class=" btn btn-primary">Edit</a>
                                    <a href="{% url 'item:delete' datum.id %}?choice=trash" class=" btn btn-warning">Trash</a>
                                {% else %}
                                    <a href="{% url 'item:delete' datum.id %}?choice=undo" class=" btn btn-secondary">Undo</a>
                                    <a href="{% url 'item:delete' datum.id %}?choice=delete" class=" btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <a href="{% url 'item:create' %}" class=" btn btn-primary">Add More Items</a>
        </div>
    </div>
{% endblock %}