{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb_link %}
    <li class="breadcrumb-item active" aria-current="page">Item</li>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row ">
            <a href="{% url 'item:create' %}" class=" btn btn-primary"><i class="fa fa-plus"> </i> Add</a>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for datum in data %}
                        <tr>
                            <td> {{ datum.iname }} </td>
                            <td> {{ datum.unit }} </td>
                            <td> {{ datum.price }} </td>
                            <td>
                                {% if not datum.is_deleted %}
                                    <a href="{% url 'item:edit' datum.id %}" class="btn">
                                        <i class="fa fa-2x fa-pencil-square-o"></i></a>
                                    <a href="{% url 'item:delete' datum.id %}?choice=trash" class="btn">
                                        <i class="fa fa-2x fa-trash-o text-danger"></i></a>
                                {% else %}
                                    <a href="{% url 'item:delete' datum.id %}?choice=undo" class=" btn">
                                        <i class="fa fa-2x fa-undo"></i>
                                    </a>
                                    <a href="{% url 'item:delete' datum.id %}?choice=delete" class=" btn">
                                        <i class="fa fa-2x fa-trash text-danger"></i>
                                    </a>
                                {% endif %}
                            </td>
                            {% empty %}
                             <tr>
                                <td colspan="6">No Data</td>
                            </tr>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}